<div class="form-group" data-hook="deposit">
  <%= f.label :deposit, Spree.t(:deposit) %>
  <%= f.text_field :deposit, value: number_to_currency(@product.deposit, unit: ''), class: 'form-control' %>
</div>
